<div class="w3-accordion w3-light-grey"
	ng-controller="AccordionCtrl as depTypeAccCtrl">
	<div ng-repeat="(k,o) in departmentTypeAccordion">
		<button ng-click="depTypeAccCtrl.expandItem(o)"
			class="w3-btn-block w3-white w3-border w3-left-align">{{o.name}}</button>
		<div class="w3-accordion-content" ng-class="{'w3-show':o.expand}">
			<ul>
				<li ng-repeat="i in o.idx"><a
					href="/v/department/{{vidsAll.departments[i].vUrl}}">
						{{vidsAll.departments[i].name}} </a></li>
			</ul>
		</div>
	</div>
</div>