
<div class="w3-row">
	<div class="w3-half">
		<div class="w3-accordion w3-light-grey"
			ng-controller="AccordionCtrl as depTypeAccCtrl">
			<div ng-repeat="k in ['chirurgiae','therapy']"
				ng-init="o=departmentTypeAccordion[k]"
				ng-include="'/f/hol.in.ua/ng/depTypeAccItem.html'"></div>
		</div>
	</div>
	<div class="w3-half">
		<div class="w3-accordion w3-light-grey"
			ng-controller="AccordionCtrl as depTypeAccCtrl">
			<div ng-repeat="k in ['obstetrical-gynecological','other']"
				ng-init="o=departmentTypeAccordion[k]"
				ng-include="'/f/hol.in.ua/ng/depTypeAccItem.html'"></div>
		</div>
	</div>
</div>
