<div class="w3-row w3-center w3-card-2">
	<div class="w3-quarter w3-container">
		<a 
		class="w3-right"
		href="/v/holhome"> <img src="/f/hol.in.ua/image/hol-kh-95.jpg"></a>
	</div>
	<div class="w3-half w3-container ">
		<div ng-if="departmentInfo">
			<h4>
				Відділення: <a href="/v/department/{{pagePath[1]}}">
					{{departmentInfo.name}} </a><br /> <a href="/">
					Хмельницька обласна лікарня </a>
			</h4>
		</div>
		<div ng-if="!departmentInfo">
			<h3>
				<a href="/"> Хмельницька обласна лікарня </a>
			</h3>
		</div>
		<div class="w3-small">вул. Пілотська 1, 29010 м.Хмельницкий,
			Хмельницька обл.</div>
		<i class="w3-small w3-right">Ми робимо медицину</i>
	</div>
	<div class="w3-quarter w3-container ">
		<a href="/v/holhome"> <img
				src="/f/hol.in.ua/image/hol-bg-95.jpg"></a>
	</div>
</div>
<p></p>
<div class="w3-container  w3-card-2  w3-yellow">
	Сайт оновлюється. Вибачайте за тимчасові незручності. Старий
	сайт доступний <a href="http://hol.in.ua:8091{{urlHol2()}}">
		http://hol.in.ua:8091{{urlHol2()}} </a>
</div>