<div class="w3-container">
	<p></p>

	<!-- Всі відділення -->
	<div ng-if="!departmentInfo" class="w3-row"
		ng-include="'/f/hol.in.ua/ng/departmentAllPage.html'"></div>
	<!-- Одне відділенн -->
	<div ng-if="departmentInfo">
		<div ng-include="'/f/hol.in.ua/ng/menuDepartment.html'"></div>
		<!-- частина відділення -->
		<div
			ng-include="'/f/hol.in.ua/ng/departmentPart-'+departmentPart+'.html'"></div>

		<div ng-if="!departmentPart || 'about' == departmentPart">
			<!-- актуальна html частина -->
			<div
			ng-if="!param.archive"
				ng-include="'/f/hol.in.ua/model/department/actually/'+departmentName+'.html'"></div>
			<!-- про відділення -->
			<div ng-if="!departmentActually || param.archive"
				ng-include="'/f/hol.in.ua/ng/departmentOnePage.html'"></div>
			<div ng-if="param.archive.indexOf('html')>0"
				ng-include="'/f/hol.in.ua/model/department/archive/'+param.archive"></div>
		</div>

	</div>
</div>
