<div class="w3-container">
	<p></p>

	<!-- Всі відділення -->
	<div ng-if="!departmentInfo" class="w3-row"
		ng-include="'/f/hol.in.ua/ng/departmentAllPage.html'"></div>
	<!-- Одне відділенн -->
	<div ng-if="departmentInfo">
		<div ng-include="'/f/hol.in.ua/ng/menuDepartment.html'"></div>
		<!-- частина відділення -->
		<div
			ng-include="'/f/hol.in.ua/ng/departmentPart-'+departmentPart+'.html'"></div>

		<!-- про відділення -->
		<div ng-if="!departmentPart || 'about' == departmentPart">
			<div ng-include="'/f/hol.in.ua/ng/departmentAboutEdit.html'"
				ng-if="editMode == 'about'"></div>
			<div ng-include="'/f/hol.in.ua/ng/departmentOnePage.html'"></div>
		</div>

	</div>
</div>
