<div class="w3-container">
	<!-- 
	<div class="w3-panel w3-leftbar w3-pale-yellow w3-serif">
 -->
	<div class="w3-panel w3-leftbar w3-pale-yellow w3-serif">
		<p>
			<i>Сторінка оновлюється регулярним переносом даних з запиту до
				складу лікарняної аптеки, 1С-бухгалтерія.</i>
		<div ng-if="principal.principal.name">
			<form method="POST" enctype="multipart/form-data"
				action="/uploadFile2">
				<label for="upload-file-input"> Загрузити файл з новими
					даними :</label> <input type="file" class="w3-btn w3-white w3-border"
					name="file" accept="*" />
				<button type="submit">OK</button>
			</form>
		</div>
		</p>
	</div>
	<table class="w3-table w3-striped w3-border w3-hoverable">
		<caption>
			<h2>{{config['pharmarest'].shortName}}</h2>
		</caption>
		<thead>
			<tr class="w3-green">
				<th>Медикамент</th>
				<th>{{pharmarest.db1Test1Medicamenten[0].medicament_rest_date}}</th>
				<th>Потреби</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="p in pharmarest.db1Test1Medicamenten">
				<td>{{p.medicament_name}}</td>
				<td>{{p.medicament_rest}}</td>
				<td>{{p.medicamentNeed}}</td>
			</tr>
		</tbody>
	</table>
</div>
